@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './componentes/footer.scss';
@import './componentes/header.scss';
@import './componentes/home.scss';
@import './componentes/productos.scss';
@import './componentes/oulet.scss';
@import './componentes/mayorista.scss';
@import './componentes/preguntas.scss';
@import './componentes/todos.scss';
@import './componentes/404.scss';
@import './variables.scss';
@import './mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.829);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px;
}

.wpp-icon {
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
    padding: 30px 20px;
}

.info-home-container {
    @include flex-center;
    opacity: .8;
    padding: 20px;
    gap: 100px;

    .info-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 100px 20px;

        .fotos-info-home {
            opacity: .9;
            margin: 10px 10px;
            width: 50px;
        }

        .extra-info-home {
            padding: 0px 15px;
            font-size: 12px;
            opacity: .8;
            display: flex;
            flex-direction: column;
        }
    }

    .extra-info-home {
        padding: 0px 15px;
        font-size: 12px;
        opacity: .8;
        display: flex;
        flex-direction: column;
    }
}

.arrow-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .arrow-icon {
        width: 50px;
        opacity: .8;

    }
}

@media only screen and (max-width:480px) {

    header {
        position: relative;

        .promo {
            .link-promo {
                font-size: 12px;
            }
        }

        .logo {
            left: 10px;
            width: 90px;
        }

        .nav-bar {
            background-color: $colorb;
        }

        .navbar-container {
            height: 80px;
            background-color: $colorb;
        }
    }


    .arrow-container {

        .arrow-icon {
            width: 30px;
        }
    }

    .carrousel-home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: $colorb;
    }

    .filtro {
        font-size: 20px;
    }

    .info-home-container {
        gap: 10px;
        flex-direction: column;

        .info-item {
            flex-direction: row;

            .extra-info-home {
                font-size: 15px;
            }
        }
    }

    .titulos-home {
        padding: 5px;
        font-size: 20px;
    }

    .productos-container {
        gap: 20px;
        flex-direction: column;
    }

    .wpp-icon {
        margin: 80px 5px;
    }

    footer {
        .barra-search {
            justify-content: center;
        }

        .enlaces-footer {
            align-items: center;
            flex-direction: column;
            font-size: 12px;
        }
    }

    .productos-container-page {
        flex-direction: column;

        .left {
            width: 100%;

            .card-img {
                .product-img {
                    width: 100%;
                }

                .text-img {
                    text-align: center;

                    p {
                        font-size: $fontsize*2;
                    }
                }
            }
        }



        .right {
            width: 100%;

            .right-item {
                width: 100%;

                .img-item-accesorios {
                    .product-img {
                        width: 100%;
                    }

                    .text-img {
                        text-align: center;

                        p {
                            font-size: $fontsize*2;
                        }
                    }
                }
            }

            .item-container {
                flex-direction: column;

                .items {
                    width: 100%;

                    .card-img {
                        .product-img {
                            width: 100%;
                        }

                        .text-img {
                            text-align: center;

                            p {
                                font-size: $fontsize*2;
                            }
                        }
                    }
                }

            }
        }
    }

    .info-oulet {
        font-size: 15px;
        text-align: center;
    }


    .img-item-undraw img {
        max-width: 200px;
    }


    .form-container {
        width: 100%;

        .form-item {
            align-items: center;
            flex-direction: column-reverse;
            justify-content: center;

            img {
                width: 200px;
                max-height: 250px;
            }

            form {
                align-items: center;
                font-size: 15px;
            }
        }
    }

    .info-mayorista {
        width: 100%;
        justify-content: center;
    }

    .preguntas-container {
        padding: 10px;

        .img-mapa {
            width: 300px;
        }

        table {
            width: 90%;
            font-size: 12px;

            th {
                padding: 5px 5px;
            }
        }


    }
}