@import '../variables.scss';
@import '../mixins.scss';

.carrousel-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: $colorb;
}

.productos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 18rem;
    overflow: hidden;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.1);
    }

    .card-body {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        display: flex;

    }

    .btn-carrito {
        opacity: .8;
        width: 30px;
    }
}

.titulos-home {
    @include flex-center;
    font-weight: bold;
    font-size: $fontsize*2;
    width: 100%;
    opacity: .7;
    padding: 50px;
}

.subtitulos-home {
    font-size: $fontsize;
    margin-top: 20px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;

    a {
        @include link-style;
    }

    a:visited {
        color: $colora;
    }
}

.btn-carrito {
    opacity: .8;
    width: 30px;
}

.info-home-container {
    @include flex-center;
    opacity: .8;
    padding: 20px;
    gap: 100px;

    .info-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 100px 20px;

        .fotos-info-home {
            opacity: .9;
            margin: 10px 10px;
            width: 50px;
        }

        .extra-info-home {
            padding: 0px 15px;
            font-size: 12px;
            opacity: .8;
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width:480px) {

    .carrousel-home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        background-color: $colorb;
    }

    .filtro {
        font-size: 20px;
    }

    .info-home-container {
        gap: 10px;
        flex-direction: column;

        .info-item {
            flex-direction: row;

            .extra-info-home {
                font-size: 15px;
            }
        }
    }

    .titulos-home {
        padding: 5px;
        font-size: 20px;
    }

    .productos-container {
        gap: 20px;
        flex-direction: column;
    }
}