@import './variables.scss';
@import '../mixins.scss';

.mayoristas-container {
    @include flex-center;
    gap: 16px;
    flex-direction: column;

    .form-container {
        width: 60%;
        margin-top: 50px;
    }

    .form-item {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: $colorb;
        border-radius: 5px;

        img {
            height: 400px;
        }
    }

    img {
        margin-right: 10px
    }

    form {
        padding: 20px;
    }

    .info-mayorista {

        text-align: center;
        display: flex;
        flex-direction: column;
        width: 60%;
        height: auto;
        justify-content: space-between;
    }

    p {
        font-weight: bold;
        opacity: .7;
    }

    .accordion-button:not(.collapsed) {
        background-color: var(--bs-btn-bg);
    }

    .accordion-button:focus {
        border-color: var(--bs-accordion-bg);
        box-shadow: var(--bs-accordion-bg);
    }
}

@media only screen and (max-width:480px) {

    .mayoristas-container {

        .form-container {
            width: 100%;
            padding: 15px;

            .form-item {
                align-items: center;
                flex-direction: column-reverse;
                justify-content: center;

                img {
                    width: 200px;
                    max-height: 250px;
                }

                form {
                    align-items: center;
                    font-size: 15px;
                }

            }

        }

        .info-mayorista {
            width: 100%;
            justify-content: center;
            padding: 15px;
        }
    }
}